
*{
    margin: 0;
    padding: 0;
}



.box-area{
    margin-top: 50px;
   
}
.row-card-paragraph{
    display: flex;
    gap: 90px;
   margin-left: 30px;
}
.booklist .box img{
    border-radius: 100px;
}

.box-description{

    width: 200px;
    
}