/* *{
    margin: 0;
    padding: 0;
}



.box-area{
    margin-top: 50px;
   
}
.row-card-paragraph{
    display: flex;
    gap: 90px;
   margin-left: 30px;
}
.para-items-1{
    width: 300px;

}

.para-items-2{
    width: 290px;

}
.para-items-3{
    width: 290px;

}
.para-items-4{
    width: 220px;
   

}

.main-fluid{
    margin-top: 60px !important;

}

.star img{
    margin-top: 35px;
}
 */
